<main>
  <section id="addAlbum">
    <div class="container">
      {{#if errors}}
        {{#each errors}}
          <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
      {{/if}}
      <div class="row">
        <div class="col-md-12">
          <h1 class="heading">Add album</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form action="/add-album" method="post" enctype="multipart/form-data" class="add-images-form">
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="albumname" class="album-name" placeholder="Album name">
              </div>
              <div class="col-md-6">
                <select name="category" class="album-name" id="album-name">
                  <option value="" disabled selected>Select album category</option>
                  <option value="all">All</option>
                  <option value="wedding">Wedding</option>
                  <option value="portraits">Portraits</option>
                  <option value="lovestory">Love Story</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <label for="fileinput">
                  <input type="file" id="fileinput" name="images" multiple>
                </label>
              </div>
              <div class="col-md-2">
                <button type="submit" class="submit-btn">Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{#if files}}
            {{#each files}}
              <div class="image-loaded">
                <img src="uploads/{{filename}}" width="200" alt="Image">
              </div>
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  </section>
</main>
