<main>
  <section id="add-category">
    <div class="container">
      {{#if errors}}
        {{#each errors}}
          <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
      {{/if}}
      <div class="row">
        <div class="col-md-12">
          <h1 class="heading">Add category</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form action="/add-category" method="post" class="cat-form">
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="catname" class="cat-name" placeholder="Category name">
              </div>
              <div class="col-md-2">
                <button type="submit" class="submit-btn">Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>
</main>
