<main>
  <section id="portfolio" class="portfolio-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{#if album}}
            <h1 class="album-name text-center">{{name}}</h1>
            {{#each images}}
              <div class="popup-gallery">
                <a href="/uploads/{{filename}}" class="gallery-item" title=""><img src="/uploads/{{filename}}" alt="Photo"></a>
              </div>
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  </section>
</main>
