<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Dashboard</h1>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto deleniti dignissimos ea eaque, eius natus non quia temporibus veritatis. Asperiores enim eos facilis nemo nostrum possimus rem repellendus voluptatem.</p>
          <p><button class="btn btn-lg btn-primary">Button</button></p>
        </div>
      </div>
    </div>
  </div>
</main>
