<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="copyright text-center">
          <p>Copyright &copy; 2017 Andrei Kananovich Photography</p>
          <p>All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>


<script src="/scripts/jquery/dist/jquery.min.js"></script>
<script src="/scripts/isotope-layout/dist/isotope.pkgd.min.js"></script>
<script src="/scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>
