<%- include('./_header'); %>
<main>
  <section id="aboutme">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center section-title"><span class="heading">About me</span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h1 class="title">I am a Photographer,</h1>
          <p>I think this job is the best in the world because I get the privilege to capture the most important moments in someone's life. I love my job, the people, lights, and the magical moments people shares with me. Shooting worldwide, I love my work! Let me tell your story!</p>
        </div>
        <div class="col-md-4">
          <div class="avatar">
            <img src="/assets/img/wja5CV4wwII.jpg" alt="Avatar">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('./_footer'); %>
