<%- include('./_header'); %>
<main>
  <section id="aboutme">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center"><span class="heading">About me</span></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum facere possimus quas vel!</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius facilis possimus sequi veritatis. Accusantium at corporis expedita iure magnam, odit officiis, perferendis perspiciatis, placeat praesentium quae quisquam recusandae suscipit ullam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur cumque, doloremque eos harum incidunt labore laudantium minima modi necessitatibus neque nulla officiis, quaerat quis quod recusandae ullam velit vitae?</p>
        </div>
        <div class="col-md-4">
          <div class="avatar">
            <img src="/assets/img/wja5CV4wwII.jpg" alt="Avatar">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('./_footer'); %>
