<%- include('./_header'); %>

<main>
  <section id="portfolio" class="portfolio-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="album-name text-center">Sweet dream</h1>
          <div class="popup-gallery">
            <a href="/assets/img/VvejQ65pPm0.jpg" class="gallery-item" title="The Cleaner"><img src="/assets/img/VvejQ65pPm0.jpg" alt="Photo"></a>
            <a href="/assets/img/aLh3AwHXT6M.jpg" class="gallery-item" title="Winter Dance"><img src="/assets/img/aLh3AwHXT6M.jpg" alt="Photo"></a>
            <a href="/assets/img/xMMPMGN10os.jpg" class="gallery-item" title="The Uninvited Guest"><img src="/assets/img/xMMPMGN10os.jpg" alt="Photo"></a>
            <a href="/assets/img/VvejQ65pPm0.jpg" class="gallery-item" title="Oh no, not again!"><img src="/assets/img/VvejQ65pPm0.jpg" alt="Photo"></a>
            <a href="/assets/img/VvejQ65pPm0.jpg" class="gallery-item" title="Swan Lake"><img src="/assets/img/VvejQ65pPm0.jpg" alt="Photo"></a>
            <a href="/assets/img/VvejQ65pPm0.jpg" class="gallery-item" title="The Shake"><img src="/assets/img/VvejQ65pPm0.jpg" alt="Photo"></a>
            <a href="/assets/img/VvejQ65pPm0.jpg" class="gallery-item" title="Who's that, mommy?"><img src="/assets/img/VvejQ65pPm0.jpg" alt="Photo"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="social" class="social-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <ul class="social-list">
            <li class="social-item">
              <a href="https://www.facebook.com/andrei.i.anuta" class="social-link"><i class="fa fa-facebook-f"></i></a>
            </li>
            <li class="social-item">
              <a href="https://vk.com/zakadrom_photo" class="social-link"><i class="fa fa-vk"></i></a>
            </li>
            <li class="social-item">
              <a href="https://www.instagram.com/andrei_kononovich/" class="social-link"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="social-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>
</main>


<%- include('./_footer'); %>
