:root {
  --black: #2b2e2f;
  --light-grey: #f7f7f7;
  --mid-gray: #a8b0b2;
  --dark-grey: #595959;
  --text-grey: #717779;
  --accent-color: #66bfd7;
}

.text-accent {
  color: var(--accent-color);
}

html, body {
  position: relative;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'poppins', Helvetica, sans-serif;
  color: var(--black);
  margin: 0;
  padding: 0;
}

/*
 *
 * HEADER
 *
 */

.header {
  background: var(--light-grey);
  height: 130px;
}

.logo img {
  width: 100px;
}


/*
 * NAV
 */
.site-nav {
  /*line-height: 100px;*/
}

.site-nav .nav-list {
  padding: 0;
  margin: 55px 0 0 0;
  list-style-type: none;
}

.nav-list .nav-item {
  display: inline-block;
  margin-left: 60px;
}

.nav-item .nav-link {
  display: block;
  text-decoration: none;
  padding: 3px;
  color: var(--black);
  font-family: poppins_semibold, sans-serif;
  /*transition: all .25s ease-in-out;*/
}

.nav-item.active {
  border-bottom: 2px solid var(--accent-color);
}

.nav-item.active .nav-link {
  color: var(--accent-color);
}

.nav-link:hover {
  color: var(--accent-color);
}

/*
 *
 * HERO SECTION
 *
 */
.hero-section {
  background: var(--light-grey);
  height: 600px;
  position: relative;
}

.hero-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -50px;
}

.hero-text {
  font-size: 50px;
  font-family: poppins_light, sans-serif;
}

.hero-secondary {
  text-transform: uppercase;
  font-family: poppins_semibold, sans-serif;
  letter-spacing: 16px;
}


/*
 *
 * PORTFOLIO SECTION
 *
 */
.portfolio-section {
  padding: 100px 0;
}

.album-name {
  margin-bottom: 40px;
}

.filters-list {
  font-family: poppins_light, sans-serif;
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin-bottom: 70px;
}

.filters-list .filter-item {
  display: inline-block;
  margin: 0 15px;
}

.filter-item .filter-link {
  border: none;
  background: none;
  outline: none;
  color: var(--black);
  font-size: 20px;
  text-decoration: none;
  transition: all .25s ease-in-out;
}

.filter-item.active .filter-link {
  color: var(--accent-color);
}

.filter-link:hover {
  color: var(--accent-color);
}

.albums-list {
  padding: 0;
  list-style-type: none;
}

.albums-list .album-item {
  position: relative;
  display: inline-block;
  float: left;
  width: 31.5%;
  margin: .9%;
}

.albums-list .album-item::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--accent-color);
  opacity: 0;
  transition: opacity .25s ease-in;
}

.albums-list .album-item:hover::after {
  opacity: .7;
}

.album-item .album-info {
  display: none;
}

.album-item:hover .album-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 10;
}
.album-info p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -20px;
}

.album-item .album-link {
  display: block;
  width: 100%;
  height: 300px;
  background: var(--light-grey);
  font-size: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.popup-gallery {
  list-style-type: none;
  padding: 0;
}

.gallery-item {
  position: relative;
  display: inline-block;
  float: left;
  width: 31.5%;
  margin: .9%;
}

.gallery-item img {
  width: 100%;
  height: 240px;
}


/*
 *
 * SOCIAL SECTION
 *
 */
.social-section {
  margin-bottom: 100px;
}
.social-list {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.social-list .social-item {
  display: inline-block;
  margin: 10px;
}

.social-item .social-link {
  color: var(--black);
  font-size: 20px;
  transition: all .25s ease-in-out;
}

.social-item:hover .social-link {
  color: var(--accent-color);
}

/*
 *
 * ABOUT ME SECTION
 *
 */
#aboutme {
  margin-top: 60px;
  margin-bottom: 160px;
}

#aboutme .section-title {
  margin-bottom: 60px;
}

#aboutme .title {
  margin-bottom: 30px;
}

#aboutme .heading{
  border-bottom: 2px solid var(--accent-color);
}

#aboutme .avatar {
  min-width: 100%;
}

.avatar img {
  width: 100%;
}


/*
 *
 * CONTACTS SECTION
 *
 */

#contacts {
  margin-top: 160px;
  margin-bottom: 160px;
}
#contacts .row {
  margin-bottom: 60px;
}


#contacts .secondary {
  letter-spacing: 10px;
  font-size: 14px;
  color: var(--mid-gray);
  text-transform: uppercase;
  font-family: poppins_semibold, sans-serif;
}

#contacts .heading {
  position: relative;
  text-transform: capitalize;
  font-family: poppins_semibold, sans-serif;
  word-spacing: 7px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

#contacts .heading::after {
  position: absolute;
  top: 80%;
  left: 0;
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  background: var(--accent-color);
}
#contacts .address p {
  margin-bottom: 30px;

}

#contacts .address .city {
  font-family: poppins_semibold, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

#contacts .address .street {
  font-size: 20px;
  color: var(--mid-gray);
  margin-bottom: 30px;
}

#contacts .address .tel {
  font-family: poppins_semibold, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  transition: all .25s ease-in-out;
}

#contacts .address .tel a {
  color: var(--black);
  transition: all .25s ease-in-out;
}

#contacts .address .email a {
  font-size: 18px;
  color: var(--mid-gray);
  letter-spacing: 1px;
}

#contacts .address .email a:hover,
#contacts .address .tel a:hover {
  color: var(--accent-color);
}

#map {
  width: 100%;
  height: 500px;
}

.getintouch-form {
  width: 100%;
}

.getintouch-form input, .getintouch-form textarea {
  font-size: 18px;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid var(--mid-gray);
  outline: none;
}

.getintouch-form input:focus, .getintouch-form textarea:focus {
  border-bottom-color: var(--accent-color);
  color: var(--black);
}
.getintouch-form .submit-btn {
  width: 100%;
  background: transparent;
  border: 2px solid var(--accent-color);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  padding: 10px;
  transition: background .25s ease-in-out;
}

.getintouch-form .submit-btn:hover {
  background: var(--accent-color);
  color: #fff;
}
