:root {
  --black: #2b2e2f;
  --light-grey: #f7f7f7;
  --dark-grey: #595959;
  --text-grey: #717779;
  --accent-color: #66bfd7;
}

.text-accent {
  color: var(--accent-color);
}

html, body {
  position: relative;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'poppins', Helvetica, sans-serif;
  color: var(--black);
  margin: 0;
  padding: 0;
}

/*
 *
 * HEADER
 *
 */

.header {
  /*position: sticky;*/
  /*top: 0;*/
  /*z-index: 999;*/
  background: var(--light-grey);
  height: 100px;
}

.logo img {
  width: 100px;
}


/*
 * NAV
 */
.site-nav {
  /*height: 100px;*/
  /*line-height: 100px;*/
}

.site-nav .nav-list {
  padding: 0;
  margin: 55px 0 0 0;
  list-style-type: none;
}

.nav-list .nav-item {
  display: inline-block;
  margin-left: 60px;
}

.nav-item .nav-link {
  display: block;
  text-decoration: none;
  padding: 3px;
  color: var(--black);
  font-family: poppins_semibold, sans-serif;
  transition: all .25s ease-in-out;
}

.nav-item.active {
  border-bottom: 2px solid var(--accent-color);
}

.nav-item.active .nav-link {
  color: var(--accent-color);
}

.nav-link:hover {
  color: var(--accent-color);
}

/*
 *
 * HERO SECTION
 *
 */
.hero-section {
  background: var(--light-grey);
  height: 600px;
  position: relative;
}

.hero-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -50px;
}

.hero-text {
  font-size: 50px;
  font-family: poppins_light, sans-serif;
}

.hero-secondary {
  text-transform: uppercase;
  font-family: poppins_semibold, sans-serif;
  letter-spacing: 16px;
}


/*
 *
 * PORTFOLIO SECTION
 *
 */
.portfolio-section {
  padding: 100px 0;
}

.filters-list {
  font-family: poppins_light, sans-serif;
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin-bottom: 70px;
}

.filters-list .filter-item {
  display: inline-block;
  margin: 0 15px;
}

.filter-item .filter-link {
  border: none;
  background: none;
  outline: none;
  color: var(--black);
  font-size: 20px;
  text-decoration: none;
  transition: all .25s ease-in-out;
}

.filter-item.active .filter-link {
  color: var(--accent-color);
}

.filter-link:hover {
  color: var(--accent-color);
}

.albums-list {
  padding: 0;
  list-style-type: none;
}

.albums-list .album-item {
  position: relative;
  display: inline-block;
  float: left;
  width: 31.5%;
  margin: 10px;
}

.albums-list .album-item::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-grey);
  opacity: 0;
  transition: opacity .25s ease-in;
}

.albums-list .album-item:hover::after {
  opacity: 1;
}

.album-item .album-info {
  display: none;
}
.album-item:hover .album-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 10;
}
.album-info p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -20px;
  padding: 0 20px;
}

.album-item .album-link {
  display: block;
  width: 100%;
  height: 300px;
  background: var(--light-grey);
  font-size: 0;
}


/*
 *
 * SOCIAL SECTION
 *
 */
.social-section {
  margin-bottom: 100px;
}
.social-list {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.social-list .social-item {
  display: inline-block;
  margin: 10px;
}

.social-item .social-link {
  color: var(--black);
  font-size: 20px;
  transition: all .25s ease-in-out;
}

.social-item:hover .social-link {
  color: var(--accent-color);
}
